body{
    opacity:0.9;
    width:100%;
    text-align:center;
    color:black;
    background-color: black;
    }
#carousel-example-generic {
    margin: 0 auto ;   
    width: 700px;
    }
background-image{
    width: 26px;
    height: 26px;
}
h1{
    font-size: 3em;
    color: Tomato!important;
}
h2{
    color: DeepPink ;
    font-size: 3em;
}
label{
    font-size: 3em;
    color:red!important;
}
.country{
    color:OrangeRed !important;
    font-size: 4em;
}
h3{
    font-size: 2em;
    color:#c94c4c;
}
h4{
    font-size: 4em;
}
footer{
    clear:left;
    font-size:2em;
    color:green;
    text-align: center !important;
}
h5{
    text-decoration: underline;
    color:#c94c4c!important;
}
